/* Tema claro */
.light-theme {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Tema oscuro */
.dark-theme {
    background-color: black;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Botón para cambiar tema */
.theme-switcher-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: inherit;
    transition: transform 0.2s ease;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}

.theme-switcher-button:hover {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.2);
}
